name: 2 - Continuous Delivery
run-name: "${{ github.workflow }}"

permissions: write-all

on:
  # Runs when the previous stage finished
  workflow_run:
    workflows: ["1 - Continuous Integration"]
    types: [completed]

  workflow_dispatch:

env:
  REGISTRY: ${{ vars.REGISTRY }}
  MLFLOW_TRACKING_URI: ${{ vars.MLFLOW_TRACKING_URI }}
  MLFLOW_EXPERIMENT_NAME: ${{ vars.MLFLOW_EXPERIMENT_NAME }}
  MLFLOW_MODEL_NAME: ${{ vars.MLFLOW_MODEL_NAME }}

jobs:

  train-model:
    # Run only if previous stage finished successfully
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.13' }
      - run: pip install uv


      # Log in to GitHub Container Registry (GHCR)
      # We will get the serving image with tag staging from here to validate
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Download training image built in the previous stage
      - run: docker pull ${{ env.REGISTRY }}/${{ github.repository }}/training:${{ github.sha }}

      # Run training container which runs the training script within
      # The training script will select the "best" model and tag it with the sha of the commit in mlflow
      - name: Run training
        env:
          MLFLOW_TRACKING_URI: ${{ env.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
          MLFLOW_EXPERIMENT_NAME: ${{ env.MLFLOW_EXPERIMENT_NAME }}
          MLFLOW_MODEL_NAME: ${{ env.MLFLOW_MODEL_NAME }}
          COMMIT_SHA: ${{ github.sha }}
        run: |
          docker run --rm \
            -e MLFLOW_TRACKING_URI \
            -e MLFLOW_TRACKING_USERNAME \
            -e MLFLOW_TRACKING_PASSWORD \
            -e MLFLOW_MODEL_NAME \
            -e MLFLOW_EXPERIMENT_NAME \
            -e COMMIT_SHA \
            ${{ env.REGISTRY }}/${{ github.repository }}/training:${{ github.sha }}

      - name: Validate Model Quality
        run: uv run python model-validation/validate_quality.py

      # Download serving image built in the previous stage
      - run: docker pull ${{ env.REGISTRY }}/${{ github.repository }}/serving:${{ github.sha }}

      # Start serving image
      # It is configured to load the model passed in env variable MLFLOW_MODEL_NAME and alias MODEL_ALIAS
      - name: Start serving container
        env:
          MLFLOW_TRACKING_URI: ${{ env.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
          MODEL_ALIAS: ${{ github.sha }}
          MLFLOW_MODEL_NAME: ${{ env.MLFLOW_MODEL_NAME }}
        run: |
          docker run -d \
            --name serving-app \
            -p 8080:8080 \
            -e MLFLOW_TRACKING_URI \
            -e MLFLOW_TRACKING_USERNAME \
            -e MLFLOW_TRACKING_PASSWORD \
            -e MODEL_ALIAS \
            -e MLFLOW_MODEL_NAME \
            ${{ env.REGISTRY }}/${{ github.repository }}/serving:${{ github.sha }}
          
          # Wait for Flask to be ready
          sleep 10

      # Run end to end tests, this will test the serving app to see if it is working ok
      # Additional metrics and verification can assess performance metrics as well
      - name: Run Staging tests
        run: uv run pytest tests/test_e2e.py -v

      - name: Show container logs on failure
        if: failure()
        run: |
          echo "=== Flask logs ==="
          docker logs serving-app || true

      # Log in to GitHub Container Registry (GHCR)
      # This is the repository where we will upload our images once they have been validated
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Tag serving image with staging; this image will be used for further testing in staging
      # Push serving image to repository
      - name: Push serving staging image
        run: |
          docker tag ${{ env.REGISTRY }}/${{ github.repository }}/serving:${{ github.sha }} \
                     ${{ env.REGISTRY }}/${{ github.repository }}/serving:staging
          docker push ${{ env.REGISTRY }}/${{ github.repository }}/serving:staging

      # Promote selected model to staging to be further validated
      # The script will look for the MLFLOW_MODEL_NAME and promote it from FROM_ALIAS to TO_ALIAS
      - name: Promote model to staging
        env:
          MLFLOW_TRACKING_URI: ${{ env.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
          MLFLOW_EXPERIMENT_NAME: ${{ env.MLFLOW_EXPERIMENT_NAME }}
          MLFLOW_MODEL_NAME: ${{ env.MLFLOW_MODEL_NAME }}
          FROM_ALIAS: ${{ github.sha }}
          TO_ALIAS: staging
        run: uv run python model-promotion/promote_model.py

