name: Continuous Deployment

on:
  workflow_run:
    workflows: ["Continuous Staging"]
    types: [completed]

env:
  REGISTRY: ghcr.io
  FLASK_IMAGE_NAME: ${{ github.repository }}/serving
  MLFLOW_TRACKING_URI: http://dsn2026hotcrp.dei.uc.pt:8080
  MLFLOW_EXPERIMENT_NAME: iris_test_jrc
  MLFLOW_MODEL_NAME: iris_model_name

jobs:
  deploy-prod:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: docker pull ${{ env.REGISTRY }}/${{ github.repository }}/serving:production
      - run: docker stop serving-app || true
      - run: docker rm serving-app || true

      - name: Run production
        run: |
          docker run -d --name serving-app -p 8080:8080 \
          ${{ env.REGISTRY }}/${{ github.repository }}/serving:production